---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-pvc
spec:
  accessModes:
    - ReadWriteOnce  # Tryb dostępu typowy dla baz danych
  resources:
    requests:
      storage: 10Gi  # Dostosuj rozmiar według potrzeb
