ENV_DATA=2025.10.02
BACKEND_TYPE=postgresql
LLM_PROVIDER=openai
TRANSCRIPT_PROVIDER=assemblyai

POSTGRESQL_DATABASE=lenie-ai
POSTGRESQL_USER=postgres
POSTGRESQL_HOST=lenie-ai-db
POSTGRESQL_PASSWORD=<your-db-password>
POSTGRESQL_PORT=5432

AWS_ACCESS_KEY_ID=<your-aws-access-key>
AWS_SECRET_ACCESS_KEY=<your-aws-secret-key>
AWS_REGION=us-east-1
AWS_S3_WEBSITE_CONTENT="lenie-s3-tmp"
AWS_S3_TRANSCRIPT=stalker-video-to-text
AWS_QUEUE_URL_ADD=https://sqs.us-east-1.amazonaws.com/<account-id>/lenie_websites

OPENAI_API_KEY=<your-openai-api-key>
OPENAI_ORGANIZATION=<your-openai-org>

ASSEMBLYAI=<your-assemblyai-key>

EMBEDDING_MODEL2=text-embedding-ada-002
EMBEDDING_MODEL=BAAI/bge-multilingual-gemma2

USE_SSL=false
USE_CACHE=True
DEBUG=True
PORT=5000
CACHE_DIR=tmp/youtube_to_text
AI_MODEL_SUMMARY="gpt-4o-2024-05-13"
YOUTUBE_DEFAULT_LANGUAGE="pl"

STALKER_AWS_API_URL=https://<api-id>.execute-api.us-east-1.amazonaws.com/v1/url_add
STALKER_AWS_API_URL2=https://<api-id>.execute-api.us-east-1.amazonaws.com/v1
STALKER_AWS_API_KEY=<your-stalker-aws-api-key>
STALKER_API_KEY=<your-stalker-api-key>

FIRECRAWL_API_KEY=<your-firecrawl-key>

LANGFUSE_HOST="https://cloud.langfuse.com"
LANGFUSE_SECRET_KEY=<your-langfuse-secret-key>
LANGFUSE_PUBLIC_KEY=<your-langfuse-public-key>

CLOUDFERRO_SHERLOCK_KEY=<your-cloudferro-key>

SERPER_DEV_APIKEY=<your-serper-key>

OPENROUTER_API_KEY=<your-openrouter-key>

GCP_PROJECT_ID="lenie-ai"
GCP_LOCATION="europe-central2"

GCP_FIRESTORE_PROJECT_ID="lenie-ai-478308"
GCP_FIRESTORE_DATABASE="lenie-ai"
